<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <description>Access access-control-allow-origin to all</description>
        <filter-name>Cross-Domain-Policy</filter-name>
        <filter-class>com.cb.filter.CORSFilter</filter-class>
    </filter>
    <filter>
        <description>Clear browser cache</description>
        <filter-name>Clear-Cache-Filter</filter-name>
        <filter-class>com.cb.filter.CacheControlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Authentcation-Filter</filter-name>
        <filter-class>com.cb.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Cross-Domain-Policy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Clear-Cache-Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentcation-Filter</filter-name>
        <url-pattern>/Views/Private/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UsrSessonController</servlet-name>
        <servlet-class>com.cb.sesson.UsrSessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FareController</servlet-name>
        <servlet-class>com.cb.fare.FareController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>com.cb.booking.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarsController</servlet-name>
        <servlet-class>com.cb.cars.CarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FareController</servlet-name>
        <url-pattern>/farechart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/Booking.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarsController</servlet-name>
        <url-pattern>/Car.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsrSessonController</servlet-name>
        <url-pattern>/session/login.do</url-pattern>
        <url-pattern>/session/signup.do</url-pattern>
        <url-pattern>/session/recoverForgotEmail.do</url-pattern>
        <url-pattern>/session/logout.do</url-pattern>
        <url-pattern>/session/uniqueEmail.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Views/ErrorPages/error.jsp</location>
    </error-page>
</web-app>
