<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="../Styles/Style.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <style>
    .pass-strength {
      position: absolute;
      right: 0;
      font-size: 14px;
      line-height: 2;
    }
    .pass-strength i{
      font-size:16px;
      margin-right:4px;
      vertical-align: sub;
    }

    .short {
      color: rgba(255,0,0,0.8);
    }

    .weak {
      color: #d1c707;
    }

    .good {
      color: #BFDA00;
    }

    .strong {
      color: #2EBE21;
    }
  </style>


</head>
<body>
<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid login-grid">
        <div class="mdl-cell mdl-cell--4-col">
          <div id="p1" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
          <div class="mdl-grid login-panel">
            <div class="mdl-cell mdl-cell--12-col">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <span class="fl-right pass-strength"><i class="material-icons short" id="result-icon">info</i><label id="result" class="short">Poor</label></span>
                <input class="mdl-textfield__input required" type="password" id="password" onkeypress="processStrength();">
                <label class="mdl-textfield__label" for="password">Password</label>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col text-right">
              <button class="mdl-button mdl-js-button  mdl-button--raised mdl-js-ripple-effect  mdl-button--colored"
                      onclick="validateLoginForm()">
                LOGIN
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script src="../Scripts/jquery-2.1.1.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="../Scripts/basic-utility.js"></script>

<script>


</script>
</body>
</html>