<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>fullPage.js A simple Demo</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="../Styles/Style.css">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" type="text/css" href="../Styles/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../Styles/examples.css" />
  <link rel="stylesheet" type="text/css" href="../Styles/service.css" />

</head>
<body>

<div id="fullpage">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Google Material Design Components</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="waterfall-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="waterfall-exp">
        </div>
      </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="Home.html">home</a>
        <a class="mdl-navigation__link" href="simple.html">services</a>
        <a class="mdl-navigation__link" href="#">cars</a>
        <a class="mdl-navigation__link" href="Tariff.html">tariffs</a>
        <a class="mdl-navigation__link" href="Faq.html">faq</a>
        <button class="mdl-button mdl-js-button  mdl-js-ripple-effect  mdl-button--colored">
          Know us
        </button>
      </nav>
    </div>
  </header>

  <div class="container">
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Full Page Parallax Effect</p>
        <p class="content-subtitle">Scroll down and up to see the effect!</p>
      </div>
    </section>
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Cras lacinia non eros nec semper.</p>
        <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut massa mattis nibh semper pretium.</p>
      </div>
    </section>
    <section class="background">
      <div class="content-wrapper">
        <p class="content-title">Etiam consequat lectus.</p>
        <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam dapibus.</p>
      </div>
    </section>
  </div>

</div>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

<script type="text/javascript" src="../Scripts/scrolloverflow.js"></script>
<script type="text/javascript" src="../Scripts/service.js"></script>
<script type="text/javascript" src="../Scripts/jquery.fullPage.js"></script>
<script type="text/javascript">

</script>
</body>
</html>